@import '../abstract/variaveis';







footer{
    text-align: center;
    font-size: $tamanho-do-texto / 2;
    margin-top: 1rem;
    padding: 1.2rem;
    @include bg-grad($cor-primaria, $cor-terciaria, $cor-terciaria ,$cor-secundaria);
    i {
        color: red;
    }
}